// Backdrops
$backdrop_color_one: rgb(30, 32, 42);
$backdrop_color_two: rgba(0, 0, 0);

// Bpx shadows
$box_shadow: ( 0px 0px 20px 0px rgba(0,0,0,0.4) );
$button_shadow: ( 0px 0px 15px 0px rgba(0,0,0,0.2) );

