@import '../../styles/Shared.scss';

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: calc(100% - 2rem);
    box-shadow: $box_shadow;
    position: relative;
    z-index: 10;
    color: white;
    padding: 0 1rem;
    overflow: hidden;
    
    @include backgroundGradientEffect(){
        background: $branding_gradient_one;
    }

    &__link{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        grid-column-gap: 0.75rem;
        z-index: 10;

        p{
            margin: 0;
        }

        svg{
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}