@import '../../styles/Shared.scss';


.bm{

    &-burger-button{
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    &-icon{
        animation: fade-in 0.5s linear;
    }

    &-menu{
        z-index: 1;
        position: relative;
        overflow: hidden !important;

        @include backgroundGradientEffect(){
            background: $branding_gradient_one;
        }
    }


    &-item-list{
        z-index: 1;
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    @include breakpoint(mobile){

        &-menu-wrap{
            width: 100% !important;
        }

    }

}

.menu{

    &__close{
        color: white;
        background: transparent;
        border: none;
        padding: 0;
        height: 1.25rem;
        cursor: pointer;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 2.25rem;

        svg{
            width: 1.25rem;
            height: 1.25rem;
        }

        path{
            stroke: white;
        }
    }

    &__link{
        padding: 0.75rem 0;
        text-decoration: none;
        transition: $standard_transition;
        display: flex !important;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        grid-column-gap: 0.5rem;
        z-index: 1;

        &.active{
            z-index: 1;
            position: relative;
            overflow: hidden;
            transition: $standard_transition;

            p{
                z-index: 1;
                position: relative;
            }

            @include backgroundGradientEffect(){
                background: $branding_gradient_two;
            }
        }

        svg{
            z-index: 1;
            width: 1.05rem;
            height: 1.05rem;
        }

        path{
            stroke: white;
        }
    }
}