@import "./styles/Shared.scss";

.app {
  text-align: center;
  min-height: 100vh;

  &__button{
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0.4rem 1.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: none;
    box-shadow: $box_shadow;

    @include backgroundGradientEffect(){
      background: $branding_gradient_two;
    }
  }
}