@import "../../styles/Shared.scss";

.edit-todo{
    animation: fade-in 0.3s linear;
    display: flex;
    flex-direction: column;
    width: calc(100% - 4rem);
    grid-row-gap: 0.75rem;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: $box_shadow_pink;

    @include backgroundGradientEffect(){
        background: $branding_gradient_one;
    }

    &__label{
        margin-bottom: 0.25rem;
        font-size: 1.75rem;
    }

    &__input{
        border-radius: 4px;
        font-size: 1rem;
        border: none;
        padding: 0.5rem 0.5rem;
        color: black;
    }

    button{
        position: relative;
        z-index: 1;
        overflow: hidden;
        border: none;
        padding: 0.4rem 1.5rem;
        border-radius: 4px;
        background: transparent;
        font-size: 1.2rem;
        box-shadow: $box_shadow;
        cursor: pointer;
        filter: contrast(80%);
        transition: $standard_transition;
        width: max-content;
        margin: 0.35rem auto 0 auto;

        @include state(){
            filter: contrast(120%);
        }

        @include backgroundGradientEffect(){
            background: $branding_gradient_two;
        }
    }
}