@import '../../styles/Shared.scss';

.new-todo{
    display: flex;
    flex-direction: column;
    grid-row-gap: 0.5rem;
    padding: 1rem;
    max-width: 40rem;
    width: calc(100% - 4rem);
    margin: auto;
    margin-top: 2rem;
    animation: fade-in 0.3s linear;
    position: relative;
    border-radius: 5px;
    box-shadow: $box_shadow;
    overflow: hidden;

    @include backgroundGradientEffect(){
        background: $branding_gradient_one;
    }

    &__label{
        color: white;
        font-size: 1.25rem;
        padding-bottom: 0.25rem;
        z-index: 1;
    }

    &__input{
        padding: 0.35rem 0.25rem;
        border-radius: 4px;
        border: 1px solid white;;
        background: white;
        color: black;
        width: auto;
        z-index: 1;
        box-shadow: $button_shadow;
        font-size: 1rem;
    }

    &__submit{
        width: auto;
        margin: auto;
        z-index: 1;
        background-color: transparent;
        border: 2px solid white;
        padding: 0.35rem 1rem;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: all 0.25s linear;
        font-weight: 500;
        font-size: 1rem;

        will-change: background-color;

        @include state(){
            color: $branding_color_one;
            background: white;
        }
    }
}