@import '../../styles/Shared.scss';

.new-todo{
    display: flex;
    flex-direction: column;
    grid-row-gap: 0.5rem;
    padding: 1rem;
    max-width: 40rem;
    width: calc(100% - 4rem);
    margin: auto;
    margin-top: 2rem;
    animation: fade-in 0.3s linear;
    position: relative;
    border-radius: 5px;
    box-shadow: $box_shadow;
    overflow: hidden;

    @include backgroundGradientEffect(){
        background: $branding_gradient_one;
    }

    &__label{
        color: white;
        font-size: 1.25rem;
        padding-bottom: 0.25rem;
        z-index: 1;
    }

    &__input{
        padding: 0.35rem 0.25rem;
        border-radius: 4px;
        border: 1px solid white;;
        background: white;
        color: black;
        width: auto;
        z-index: 1;
        box-shadow: $box_shadow;
        font-size: 1rem;
        transition: $quick_transition;

        &--error{
            color: $branding_color_one;
            border-color: red;
        }
    }

    &__submit{
        width: auto;
        margin: auto;
        background-color: transparent;
        padding: 0.4rem 1.5rem;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: all 0.25s linear;
        font-weight: 500;
        font-size: 1rem;
        box-shadow: $box_shadow;
        filter: contrast(85%);
        overflow: hidden;
        position: relative;
        z-index: 1;

        -webkit-filter: contrast(85%);
        will-change: background-color, filter;

        @include state(){
            filter: contrast(125%);
            -webkit-filter: contrast(125%);
            scale : 1.03;
        }

        @include backgroundGradientEffect(){
            background: $branding_gradient_two;

        }

        &--error{
            cursor: no-drop;
            color: $branding_color_one;
            background: $branding_color_gray;
            filter: contrast(100%);
            -webkit-filter: contrast(100%);
            
            @include backgroundGradientEffect(){
                background: $branding_color_gray;
                filter: contrast(100%);
                -webkit-filter: contrast(100%);
            }
        }
    }
}