@import '../../styles/Shared.scss';

.todos{
    animation: fade-in 0.5s linear;
    list-style-type: none;
    margin: 2rem auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
    width: 100%;
}